@page "/bunkai"
@using Timesheet.Services
@using Timesheet.Entities

@rendermode InteractiveServer

<FluentBreadcrumb>
    <FluentBreadcrumbItem Href="bunkai">
        Bunkai
    </FluentBreadcrumbItem>
</FluentBreadcrumb>


<FluentDataGrid Items="@BunkaiList"
                TGridItem="Bunkai"
                HeaderCellAsButtonWithMenu="true"
                Pagination="@Pagination" >
    <TemplateColumn Title="Kata" Sortable="true" SortBy="@KataNameSort">
            <a href="bunkai/@context.KataName">@context.KataName</a>
        </TemplateColumn>
</FluentDataGrid>

<FluentPaginator State="@Pagination" />

<AuthorizeView Roles="bunkai-editor">
    <Authorized>
        <FluentButton OnClick="OnAddBunkai">Add Bunkai</FluentButton>
    </Authorized>
</AuthorizeView>

@code {
    [Inject]
    IDialogService DialogService { get; set; }

    [Inject]
    public BunkaiService BunkaiService { get; set; }

    private IQueryable<Bunkai>? BunkaiList = null;

    private PaginationState Pagination = new PaginationState { ItemsPerPage = 10 };

    private GridSort<Bunkai> KataNameSort = GridSort<Bunkai>
        .ByAscending(x => x.KataName);

    protected override async Task OnParametersSetAsync()
    {
        await LoadBunkaiList();
    }

    private async Task LoadBunkaiList()
    {
        BunkaiList = (await BunkaiService.GetAll()).AsQueryable();
    }

    private async Task OnAddBunkai()
    {
        DialogParameters parameters = new()
        {
            Title = $"Add new Bunkai",
            PrimaryAction = "Save",
            PrimaryActionEnabled = false,
            SecondaryAction = "Cancel",
            Width = "80%",
            Height = "70%",
            TrapFocus = true,
            Modal = true,
            PreventScroll = true
        };

        IDialogReference dialog = await DialogService.ShowDialogAsync<BunkaiEditor>(null, parameters);
        DialogResult? result = await dialog.Result;

        if(!result.Cancelled)
        {
            await LoadBunkaiList();
        }
    }
}
